.pokemon-wrapper {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    color: black;
}

.pokemon-wrapper:hover {
    background-color: whitesmoke;
}

h2 {
    letter-spacing: 0.5rem;
}

img {
    height: 150px;
    width: 200px;
}